body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgb(45, 45, 45);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    background: rgb(125, 125, 125);
}